* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #ffe8d6;
  font-family: "Albert Sans", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.action {
  width: 25%;
  height: 100%;
  margin: auto 40px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  color: #498374;
  font-size: 20px;
}

.intro {
  font-family: "Hepta Slab", serif;
  font-family: "Peralta", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Vollkorn", serif;
  margin-top: 10%;
  color: #000;
  font-weight: 550;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
}
.information {
  margin: 0px 30px 0px 30px;
}
.login_Connect {
  margin-top: 15%;
  display: inline-block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 18px;
  font-size: 16px;
  font-weight: 550;
  line-height: 34px;
  text-align: center;
  color: #000;
  position: relative;
}

.icon {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  margin-left: 0px;
  left: 12px;
}

.login_Connect a {
  color: #000;
}

.orSign {
  margin-top: 10%;
  text-align: center;
  margin-bottom: 5%;
  color: #000;
}

input {
  margin-top: 5%;
  font-size: 13px;
  padding: 10px 12px;
  z-index: 1;
  line-height: 16px;
  width: 100%;
  border-radius: 18px;
  height: 36px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  outline-color: #498374;
}

.login_Login {
  margin-top: 5%;
  width: 100%;
  padding: 0px;
  color: aliceblue;
  background-color: #498374;
  border: none;
  border-radius: 18px;
  font-size: 14px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.login_Login button {
  color: #fafbfb;
  background: none;
  border: none;
  font-size: 16px;
}

.login_Forgot {
  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 4%;
  font-size: 15px;
  line-height: 34px;
}

.login_Forgot a {
  color: #498374;
  font-size: 15px;
  line-height: 34px;
}

.login_Support {
  text-align: center;
  margin-top: 3%;
  font-size: 15px;
  color: #000;
  padding-bottom: 20px;
}

.login_Support a {
  color: #498374;
}

.line {
  border-left: 3px solid #498374;
  height: 80%;
  border-radius: 5px;
  margin-top: 5%;
}
.bigText {
  width: 65%;
  font-size: 62px;
  font-weight: 800px;
  color: #498374;
  display: flex;
  justify-content: center;
}
.text_Welcome {
  display: flex;
  align-items: center;
  line-height: 80px;
  font-family: "Peralta", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Vollkorn", serif;
}
