<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playlist | Flow</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://hieutrung0451.github.io/Flow/css/app.css" />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap" rel="stylesheet">
    <!-- Icon -->
    <script src="https://kit.fontawesome.com/23e7d563df.js" crossorigin="anonymous"></script>

    <!-- Facebook -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v14.0" nonce="HdmMqD1g"></script>
  </head>
  <body>
    
    <div class="main">
      <!-- Header -->
      <div class="header">
        <a href="https://hieutrung0451.github.io/Flow/template/app.html"><h1>Flow</h1></a>
        
        <!-- Đồng hồ pomodoro -->
        <div class="pomodoro">
          <div class="pomodoro-cycles"><p class="cycle">0</p></div>
          <audio src="https://hieutrung0451.github.io/Flow/sounds/pomodoro.mp3" class="pomodoro-sound"></audio>
          <audio src="https://hieutrung0451.github.io/Flow/sounds/relax.mp3" class="relax-sound"></audio>
          <div class="pomodoro-time">
            <p class="work-minutes">25</p><p>:</p><p class="work-seconds" style="margin-right: 12px;">00</p>|
            <p class="break-minutes" style="margin-left: 12px;">5</p><p>:</p><p class="break-seconds">00</p>
          </div>
          <div class="pomodoro-btn"><i class="fa-solid fa-play"></i></div>
        </div>

        <!-- Menu bar -->
        <div class="menubar">
            <div class="menu">
                <div class="lists"><i class="fa-solid fa-square-check"></i>
                  <div class="todo">
                    <div class="form-control">
                      <input type="text" placeholder="Nhập công việc mới" class="todo-content">
                      <button>Thêm</button>
                  </div>
                  
                  <div class="list-task">
                      <h4>Danh sách công việc</h4>
                      <div class="result">
                          <!-- Add from JS -->
                      </div> 
                  </div>
                </div>
                </div>
                
                <div class="icon_menubar">
                    <li class="volume-all">
                      <i class="fa-solid fa-volume-high"></i>
                      <div class="range"><input type="range" min="1" max="100" onchange="setVolume()" class="allVolume"></div> 
                    </li>

                    <li class="editor">
                      <div class="editor-icon">
                        <i class="fa-solid fa-file-lines"></i>
                      </div>
                      
                      <div class="text-editor">
                        <div class="control">
                          <input type="file" class="fileLoader">
                        </div>
                        <br>
                        <textarea class="myText"></textarea>
                        <input type="button" class="save" value="Lưu file" onclick="saveFile();">
                      </div>
                    </li>
                    

                    <li class="user">
                      <i class="fa-solid fa-user"></i>
                      <div class="user-menu">
                        <a href="https://hieutrung0451.github.io/Flow/template/login.html" class="user-logout">Đăng xuất</a>
                      </div>
                    </li>
                    
                </div>
            </div> 
        </div>
      </div>
    
    <!-- Content -->
    <div class="content">
        <div class="TopMenu">
            <div class="icon_playlist">
                <div class="icon_playlist icon playlist-btn">Playlist</div>
                <div class="icon_playlist icon music-btn">Music</div>
            </div>
            
            <div class="icon_playlist2">
              <div class="icon_playlist icon clear-button">Clear</div>
              <div class="icon_playlist icon">
                <div class="fb-share-button" data-href="https://hieutrung0451.github.io/Flow/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fhieutrung0451.github.io%2FFlow%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
              </div>
            </div>
        </div>
      
      <!-- Background Image -->
      <div><img src="https://hieutrung0451.github.io/Flow/images/flower.png" alt="flower image" class="img-flower"></div>
      <!-- <div><img src="../images/flower_2.png" alt="flower 2 image" class="img-flower_2"></div> -->
      
      <!-- Danh sách playlist -->
      <div class="playlist">
        <div class="playlist__item" onclick="productivity()">
          <i class="fa-solid fa-book" ></i>
          <p>Productivity</p>
        </div>
        
        <div class="playlist__item" onclick="randomSong()">
          <i class="fa-solid fa-dice"></i>
          <p>Random</p>
        </div>
  
        <div class="playlist__item" onclick="relax()">
          <i class="fa-solid fa-mug-saucer"></i>
          <p>Relax</p>
        </div>
  
        <div class="playlist__item" onclick="noiseBlocker()">
          <i class="fa-solid fa-headphones"></i>
          <p>Noise Blocker</p>
        </div>
   
        <div class="playlist__item" onclick="motivation()">
          <i class="fa-solid fa-mountain-sun"></i>
          <p>Motivation</p>
        </div>
  
        <div class="playlist__item" onclick="sleep()">
          <i class="fa-solid fa-cloud-moon"></i>
          <p>Sleep</p>
        </div>
      </div>

      <div class="music-playlist">
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/3pqLGw69DtdCsrM9YBwcKm?utm_source=generator&theme=0" width="100%" height="200" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
      </div>
      
      <!-- Danh sách âm thanh -->
      <div class="sounds">
        <div class="sounds__item">
          <i id="play_inner1" class="fa-solid fa-cloud-showers-heavy play_inner"></i>
          <audio src="https://hieutrung0451.github.io/Flow/sounds/tiengmua_song1.mp3" class="song song1"></audio>
          <div  class="volume volume_1"><input  type="range" min="1" max="100" onchange="setVolume()" class="volume_slider1"></div>
        </div>
  
        <div class="sounds__item">
          <i id="play_inner2" class="fa-solid fa-cloud-bolt play_inner"></i>
          <audio src="https://hieutrung0451.github.io/Flow/sounds/tiengsam_song2.mp3" class="song song2"></audio>
          <div class="volume volume_2"><input type="range" min="1" max="100" onchange="setVolume()" class="volume_slider2"></div>
        </div>
  
        <div class="sounds__item">
          <i id="play_inner3" class="fa-solid fa-wind play_inner"></i>
          <audio src="https://hieutrung0451.github.io/Flow/sounds/tienggio_song3.mp3" class="song song3"></audio>
          <div class="volume volume_3"><input type="range" min="1" max="100" onchange="setVolume()" class="volume_slider3"></div>
        </div>
  
        <div class="sounds__item">
          <i id="play_inner4" class="fa-solid fa-tree play_inner"></i>
          <audio src="https://hieutrung0451.github.io/Flow/sounds/tiengchimhot_song4.mp3" class="song song4"></audio>
          <div class="volume volume_4"><input type="range" min="1" max="100" onchange="setVolume()" class="volume_slider4"></div>
        </div>
  
        <div class="sounds__item">
          <i id="play_inner5"class="fa-solid fa-leaf play_inner"></i>
          <audio src="https://hieutrung0451.github.io/Flow/sounds/tienglacay_song5.mp3" class="song song5"></audio>
          <div class="volume volume_5"><input type="range" min="1" max="100" onchange="setVolume()" class="volume_slider5" ></div>
        </div>
  
        <div class="sounds__item">
          <i id="play_inner6" class="fa-solid fa-water play_inner"></i>
          <audio src="https://hieutrung0451.github.io/Flow/sounds/tiengsongbien_song6.mp3" class="song song6"></audio>
          <div class="volume volume_6"><input type="range" min="1" max="100" onchange="setVolume()" class="volume_slider6"></div>
        </div>
  
        <div class="sounds__item">
          <i id="play_inner7" class="fa-solid fa-mug-hot play_inner"></i>
          <audio src="https://hieutrung0451.github.io/Flow/sounds/tiengquancafe_song7.mp3" class="song song7"></audio>
          <div class="volume volume_7"><input type="range" min="1" max="100" onchange="setVolume()" class="volume_slider7"></div>
        </div>
  
        <div class="sounds__item">
          <i id="play_inner8" class="fa-solid fa-droplet play_inner"></i>
          <audio src="https://hieutrung0451.github.io/Flow/sounds/tiengsuoichay_song8.mp3" class="song song8"></audio>
          <div class="volume volume_8"><input type="range" min="1" max="100" onchange="setVolume()" class="volume_slider8"></div>
        </div>
  
        <div class="sounds__item">
          <i id="play_inner9" class="fa-solid fa-fire play_inner"></i>
          <audio src="https://hieutrung0451.github.io/Flow/sounds/tiengluachay_song9.mp3" class="song song9"></audio>
          <div class="volume volume_9"><input type="range" min="1" max="100" onchange="setVolume()" class="volume_slider9"></div>
        </div>
  
        <div class="sounds__item">
          <i id="play_inner10" class="fa-solid fa-moon play_inner"></i>
          <audio src="https://hieutrung0451.github.io/Flow/sounds/tiengbandem_song10.mp3" class="song song10"></audio>
          <div class="volume volume_10"><input type="range" min="1" max="100" onchange="setVolume()" class="volume_slider10"></div>
        </div>
  
        <div class="sounds__item">
          <i id="play_inner11" class="fa-solid fa-train-subway play_inner"></i>
          <audio src="https://hieutrung0451.github.io/Flow/sounds/tiengtauhoa_song11.mp3" class="song song11"></audio>
          <div class="volume volume_11"><input type="range" min="1" max="100" onchange="setVolume()" class="volume_slider11"></div>
        </div>
  
        <div class="sounds__item">
          <i id="play_inner12" class="fa-solid fa-fan play_inner"></i>
          <audio src="https://hieutrung0451.github.io/Flow/sounds/tiengquatgio_song12.mp3" class="song song12"></audio>
          <div class="volume volume_12"><input type="range" min="1" max="100" onchange="setVolume()" class="volume_slider12"></div>
        </div>
      </div>
      
      <!-- Footer -->
      <div class="footer">
        <a href="#">Features</a>
        <a href="#">How It Works</a>
        <a href="#">Contact</a>
        <a href="#">Support</a>
    </div>
  </div>
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://hieutrung0451.github.io/Flow/js/app.js"></script>
    <script src="https://hieutrung0451.github.io/Flow/js/todo.js"></script>
    <script src="https://hieutrung0451.github.io/Flow/js/editor.js"></script>
    <script src="https://hieutrung0451.github.io/Flow/js/pomodoro.js"></script>
  </body>
</html>
